@charset "utf-8";
/* HIVELAB (http://www.hivelab.co.kr) */

@font-face {
font-family:ng;
src:url(font/NanumGothic.eot);
src:url(font/NanumGothic.eot?#iefix) format('embedded-opentype'), url(font/NanumGothic.woff) format('woff'),url(font/NanumGothic.ttf) format('truetype');
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,table,th,td,form,fieldset,legend,textarea,input,select,textarea,button{margin:0;padding:0}
html,body{height:100%}
body{font-family:'NanumGothic','나눔고딕','ng','돋음',dotum,sans-serif;font-size:15px;color:#333;letter-spacing:-0.5px}
h1,h2,h3,h4,h5,h6{font-weight:lighter}
fieldset,li,img{border:0;vertical-align:top}
ul,ol{list-style:none}
button{overflow:visible;border:0;background-color:transparent;cursor:pointer}
button::-moz-focus-inner{padding:0;border:0}
address,caption,em{font-style:normal}
a,a:focus,a:active,a:hover{text-decoration:none;color:#333}
table{border-collapse:collapse;border-spacing:0}
hr{display:none}
.pc_view{display:block}
.m_view{display:none}
.blind,legend{overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:1px;line-height:100px;white-space:nowrap}
#skip{height:0}
#skip a{display:block;position:absolute;left:0;top:-100px;width:100%;height:1px;text-align:center}
#skip a:focus,#skip a:active{position:absolute;top:0;z-index:120;height:25px;padding:10px 0;background:#77a835;font-weight:400;color:#fff;font-size:20px;text-decoration:none}
.sp,.prd_wrap .btn_bx .bn:after,.prd_wrap .btn_bx .bn2:after,.bn:after{display:inline-block;overflow:hidden;background:url(../img/sp.png) no-repeat;width:1px;height:1px;font-size:1px;line-height:200px;white-space:nowrap}
.main_sp{display:inline-block;overflow:hidden;background:url(../img/main_sp.png) no-repeat;width:1px;height:1px;font-size:1px;line-height:200px;white-space:nowrap}
#wrap{overflow:hidden;position:relative;min-width:1000px;max-width:1920px;margin:0 auto;text-align:center}
#header{position:relative}
#gnb .section,#lnb .section,#snb .section{position:relative;width:1000px;margin:0 auto}
#gnb{background:#f2f2f2}
#lnb{border-top:1px solid #dfdfdf;border-bottom:1px solid #f1f1f1}
#snb{display:none;position:relative;background:#fefefe;text-align:center}
#footer{height:186px;padding-top:50px;background:#292929}
#footer .section{overflow:hidden;position:relative;width:1000px;margin:0 auto;text-align:left}
.hg_menu{margin-bottom:-1px}
.hg_menu:after{display:block;clear:both;content:''}
.hg_menu li{float:left;width:122px}
.hg_menu a{display:block;position:relative;height:37px;margin-left:-1px;border-right:1px solid #dfdfdf;border-left:1px solid #dfdfdf;font-size:13px;color:#333;line-height:37px;text-align:center}
.hg_menu li:first-child a{margin-left:0}
.hg_menu .selected a{background:#fff;color:#7eac3f}
.hg_menu .selected a:after{position:absolute;right:0;left:0;z-index:1;bottom:0;height:1px;background:#fff;content:''}
.btn_gbx{position:absolute;top:0;right:24px;font-size:0;width:360px;text-align:right}
.btn_gbx .bntx{display:inline-block;margin:0 8px;font-size:12px;color:#333;line-height:37px;text-decoration:underline}
.btn_gbx .bntx:first-child{margin-left:0}
.btn_gbx .user{display:inline-block;margin:0 8px;font-size:12px;color:#333;line-height:37px}
.btn_gbx .user span{display:inline-block;text-decoration:underline}
.btn_gbx .user em{color:#7eac3f}
.btn_gbx .user span em{text-decoration:underline}
.btn_gbx .bn{display:inline-block;width:36px;height:37px;margin-left:-1px;border-right:1px solid #dfdfdf;border-left:1px solid #dfdfdf;vertical-align:top}
.hd_logo{float:left;width:154px}
.hd_logo a{display:block;height:41px;padding-top:23px}
.hd_logo .sp{display:inline-block;width:100px;height:17px;background-position:0 -54px;vertical-align:top}
.hd_menu:after{display:block;clear:both;content:''}
.hd_menu li{float:left;width:120px}
.hd_menu li:first-child a:after{display:none}
.hd_menu a{display:block;position:relative;height:64px;line-height:64px}
.hd_menu a:after{position:absolute;top:50%;left:0;width:1px;height:19px;margin-top:-10px;background:#e9e9e9;content:''}
.hd_menu a:hover,.hd_menu .selected a,.hd_menu .selected a:hover{color:#7ca93a}
.bg_border{position:absolute;top:100%;right:0;left:0;z-index:5;height:8px;background:url(../img/bg_border.png) repeat-x}
.hs_lst{display:inline-block;padding:0 13px;vertical-align:top}
.hs_lst:after{display:block;clear:both;content:''}
.hs_lst li{float:left;width:112px;margin-left:30px;text-align:center}
.hs_lst li:first-child{margin-left:0}
.hs_lst a{display:block;height:43px;border-bottom:2px solid #fefefe;font-size:13px;color:#666;line-height:43px}
.hs_lst .selected a{border-color:#7eac3f;color:#333}
.ft_logo{display:inline-block;float:left;margin-bottom:22px}
.ft_logo .sp{width:109px;height:36px;background-position:0 -73px}
.ft_link{position:relative;font-size:0}
.ft_link .nk{display:inline-block;position:relative;margin-left:8px;padding-left:8px;font-size:12px;color:#949494}
.ft_link .nk:first-child:after{display:none}
.ft_link .nk:after{position:absolute;top:50%;left:0;width:1px;height:11px;margin-top:-6px;background:#4d4d4d;content:''}
.ft_link.v2{position:absolute;top:92px;right:0;width:150px;text-align:right}
.ft_info{clear:both;font-size:11px;color:#949494;line-height:17px}
.ft_share{position:absolute;top:0;right:0}
.ft_share li{float:left;margin-left:15px}
.ft_share .sp{width:52px;height:52px}
.ft_share .fb{background-position:0 0}
.ft_share .ig{background-position:-108px 0}
.ft_share .bl{background-position:-162px 0}
.ft_share .yt{background-position:-216px 0}
.ft_copy{margin-top:16px;font-size:11px;color:#949494}
.main .spot{position:relative;padding-top:1519px;background:url(../img/main_spot_bg.jpg) no-repeat 50% 0}
.main .spot .bn_more{overflow:hidden;position:absolute;top:402px;left:50%;width:176px;height:50px;margin-left:-36px;font-size:1px;line-height:1000px;white-space:nowrap}
.main .spot .linkarea{position:absolute;top:668px;left:50%;width:996px;height:851px;margin-left:-498px;background:url(../img/main_spot.jpg) no-repeat 50% 0}
.main .spot .linkarea a{position:absolute;height:284px}
.main .spot .linkarea .bn1{top:0;left:0;width:664px}
.main .spot .linkarea .bn2{top:0;left:664px;width:332px}
.main .spot .linkarea .bn3{top:284px;left:332px;width:332px}
.main .spot .linkarea .bn4{top:568px;left:332px;width:664px}
.main .healthy .section{position:relative;width:1000px;height:606px;margin:0 auto}
.main .healthy .im{position:absolute;bottom:0;left:-240px}
.main .healthy .tx,.main .powerful .tx{position:absolute;text-align:left}
.main .healthy .tx h2 span,.main .powerful .tx h2 span{display:inline-block;height:62px;padding-top:12px;border-bottom:1px solid #cecece;font-size:55px;line-height:62px;vertical-align:top}
.main .healthy .tx p,.main .powerful .tx p{margin-top:20px;font-size:20px;color:#707070;line-height:35px}
.main .powerful{position:relative;height:731px}
.main .powerful .bg{height:610px;background:#cacaca}
.main .powerful .section{position:absolute;top:0;left:50%;width:1000px;height:711px;margin-left:-500px}
.main .powerful .im{position:absolute;top:49px;right:-101px}
.main .powerful .tx h2 span{border-bottom-color:#fff;color:#fff}
.main .powerful .tx p{color:#f8f6f1}
.main .mtt{font-size:55px;color:#000}
.main .mtt em{font-style:italic}
.main .mtx{font-size:20px;color:#939393;line-height:35px}
.main .recipes{height:1004px;background:url(../img/main_recipes_bg.jpg) no-repeat 50% 100%}
.main .recipes h2{width:296px;height:72px;margin:0 auto}
.main .recipes .mtt{margin-top:38px;line-height:70px}
.main .recipes .mtx{margin-top:34px}
.main .recipes .cont{overflow:hidden;width:1000px;margin:36px auto 0}
.main .recipes .cont li{float:left;width:320px;height:298px;margin-left:20px;padding-top:243px;background:#fff url(../img/main_recipes.jpg) no-repeat}
.main .recipes .cont .c2{background-position:-320px 0}
.main .recipes .cont .c3{background-position:-640px 0}
.main .recipes .cont li:first-child{margin-left:0}
.main .recipes .tt{font-size:24px;line-height:32px}
.main .recipes .tx{height:110px;margin-top:12px;color:#707070;line-height:24px}
.main .recipes .lst{font-size:0}
.main .recipes .lst .info{display:inline-block;position:relative;width:60px;margin:0 5px;padding-top:63px;font-size:11px;color:#5c5c5c;white-space:nowrap}
.main .recipes .lst .main_sp{position:absolute;top:0;left:0;width:60px;height:60px}
.main .recipes .lst .orange{background-position:0 -148px}
.main .recipes .lst .carrot{background-position:-62px -148px}
.main .recipes .lst .apple{background-position:-124px -148px}
.main .recipes .lst .cucumber{background-position:-186px -148px}
.main .recipes .lst .spinach{background-position:0 -210px}
.main .recipes .lst .almond{background-position:-62px -210px}
.main .recipes .lst .sweetpotato{background-position:-124px -210px}
.main .instagram{height:935px;padding-top:90px;background:#f9f9f9 url(../img/main_instagram.jpg) no-repeat 50% 387px}
.main .instagram h2{width:296px;height:72px;background-position:0 -74px;margin:0 auto}
.main .instagram .mtt{margin-top:18px;letter-spacing:8px}
.main .instagram .mtx{margin-top:22px}
.whyjuice .spot{height:597px;background:url(../img/whyjuice_spot.jpg) no-repeat 50% 0}
.huromjuice .spot{height:597px;background:url(../img/huromjuice_spot.jpg) no-repeat 50% 0}
.technology .spot{height:597px;background:url(../img/technology_spot.jpg) no-repeat 50% 0}
.products .spot{height:547px;background:url(../img/products_spot.jpg) no-repeat 50% 0}
.history .spot{height:597px;background:url(../img/history_spot.jpg) no-repeat 50% 0}
.store .spot{height:553px;background:#f0e2d8 url(../img/store_spot.jpg) no-repeat 50% 0;text-align:left}
.store .spot .section{width:1000px;margin:0 auto;padding-left:10px}
.service .spot{height:200px;background:url(../img/service_spot.jpg) no-repeat 50% 0}
.stt{padding-top:75px;font-size:55px;line-height:70px}
.stt strong{display:inline-block;height:35px;margin-bottom:35px;padding-left:2px;border-top:2px solid #707070;border-bottom:2px solid #707070;font-weight:400;font-size:32px;line-height:35px;letter-spacing:0}
.stt em,.stt2 em{font-style:italic}
.stt2{font-size:28px;line-height:43px}
.stx,.stx2{font-size:20px;line-height:35px}
.stx{color:#5c5c5c}
.stx3{font-size:20px;color:#707070;line-height:35px}
.stx4{font-size:20px;line-height:36px}
.vod{width:1000px;height:540px;margin:0 auto}
.shead{overflow:hidden;padding-top:6px}
.shead .stx{margin-top:34px}
.subtype01 .stt2{margin-top:50px}
.subtype01 .stx{margin-top:33px}
.subtype01 .stx2{margin:27px 0 -28px}
.subtype01 .stx3{margin-top:41px}
.subtype01 .stx4{margin:26px 0 -13px}
.subtype01 .im{margin-top:33px}
.subtype01 .im2{margin-top:138px}
.subtype01 .im3{margin-top:100px}
.subtype01 .im4{margin-top:34px}
.subtype01 .section{height:643px;margin-top:40px;background:url(../img/huromjuice_0101.jpg) no-repeat 50% 100%}
.subtype01 .section2{position:relative;margin-top:97px}
.subtype01 .section2 .bg{height:639px;background:#f7f7f7}
.subtype01 .section2 .img{position:absolute;top:-59px;left:50%;width:1000px;margin-left:-500px}
.subtype01 .section2.v2{margin-top:155px}
.subtype01 .section2.v2 .bg{background:#f4f4f4}
.subtype01 .section2.v3{margin-top:101px}
.subtype01 .section2.v3 .bg{height:1059px}
.subtype01 .section2.v4{height:720px;margin-top:105px;background:url(../img/whyjuice_0402.jpg) no-repeat 50% 0}
.subtype01 .section2.v4 .img{top:-64px}
.subtype01 .section2.v5{height:552px;margin-top:120px}
.subtype01 .section2.v5 .bg{position:relative;height:480px}
.subtype01 .section2.v5 .bg .line{position:absolute;top:236px;left:0;right:0;height:4px;background:#dbdbdb}
.subtype01 .section2.v5 .img{top:-78px}
.subtype01 .section2.v6{margin-top:50px}
.subtype01 .section2.v6 .bg{height:432px}
.subtype01 .section2.v6 .img{top:-33px}
.subtype01 .section2.v7{margin-top:118px}
.subtype01 .section2.v7 .bg{height:1057px}
.subtype01 .section2.v7 .img{top:-79px}
.subtype01 .section2.v8{margin-top:118px}
.subtype01 .section2.v8 .bg{height:1057px}
.subtype01 .section2.v8 .img{top:-79px}
.subtype01 .section3{position:relative;padding-bottom:322px;margin-top:46px}
.subtype01 .section3 .bg{height:641px;background:#f7f7f7}
.subtype01 .section3 .poz{position:absolute;top:57px;left:50%;width:1000px;margin-left:-500px}
.subtype01 .section3 .stxarea{overflow:hidden;margin-top:21px}
.subtype01 .section3 .stxarea strong{display:block;font-weight:lighter;font-size:24px;color:#707070;line-height:30px}
.subtype01 .section3 .stxarea span{display:block;margin-top:7px;color:#707070;line-height:22px}
.subtype01 .section3 .stxarea .stx_left{float:left;width:348px}
.subtype01 .section3 .stxarea .stx_right{float:right;width:335px}
.subtype01 .section3 .stxarea .stx_right strong{color:#82ad43}
.subtype01 .section3.v2{padding-bottom:230px}
.subtype01 .section3.v2 .bg{height:927px}
.subtype01 .section3.v2 .poz{top:-10px}
.subtype01 .section3.v2 .img{margin-top:58px}
.subtype01 .section3.v3{margin-top:100px;padding-bottom:107px}
.subtype01 .section3.v3 .bg{height:436px;background:#fbfbfb}
.subtype01 .section3.v3 .poz{top:100px}
.subtype01 .section3.v4{margin-top:44px;padding-bottom:61px}
.subtype01 .section3.v4 .bg{height:613px}
.subtype01 .section3.v4 .poz{top:0px}
.subtype01 .section3.v4 .vod{margin-top:40px}
.subtype01 .section4{overflow:hidden;position:relative;height:778px;margin-top:39px;background:#f7f4e6}
.subtype01 .section4 .line{position:absolute;top:0;bottom:0;left:50%;width:1px;background:#fff}
.subtype01 .section4 .poz{position:absolute;top:13px;left:50%;width:1000px;margin-left:-500px}
.subtype01 .section4 .imgarea{overflow:hidden;width:1000px;margin:32px auto 0}
.subtype01 .section4 .imgarea .stx_left,.subtype01 .section4 .imgarea .stx_right{width:500px;color:#5c5c5c;line-height:22px}
.subtype01 .section4 .imgarea .stx_left{float:left}
.subtype01 .section4 .imgarea .stx_right{float:right}
.subtype01 .section4 .imgarea strong{display:block;padding:36px 0 11px;font-weight:lighter;font-size:24px}
.subtype01 .section4.v2{height:auto;padding:14px 0 30px;background:#f7f7f7}
.subtype01 .section4.v2 .stx{position:relative}
.subtype01 .section4.v2 .stt2{margin-top:26px}
.subtype01 .section4.v2 .img{margin-top:57px}
.subtype01 .section4.v2 .img2{margin-top:11px}
.subtype01 .section4.v2 .img3{margin-top:-10px}
.subtype01 .section4.v3{height:709px;background:none}
.subtype01 .section4.v3 .bg{height:617px;background:#f5f6f8}
.subtype01 .section4.v3 .img{margin-top:94px}
.subtype01 .section4.v4{height:677px;background:#f7f7f7}
.subtype01 .section4.v4 .poz{top:-10px}
.subtype01 .section4.v4 .img{margin-top:70px}
.subtype01 .section4.v5{height:1276px;background:none}
.subtype01 .section4.v5 .bg{position:relative;height:1158px;background:#f4f4f4}
.subtype01 .section4.v5 .bg span{position:absolute;top:0;left:50%;right:0;bottom:0;margin-left:-5px;background:#fdfdfd}
.subtype01 .section4.v5 .poz{top:52px}
.subtype01 .section5{position:relative;height:1107px;margin-top:112px}
.subtype01 .section5 .bg{position:absolute;top:465px;left:0;right:0;height:510px;background:#f7f7f7}
.subtype01 .section5 .line{position:absolute;top:153px;left:0;right:50%;height:1px;background:#d2d2d2}
.subtype01 .section5 .line.n2{top:724px;left:50%;right:0}
.subtype01 .section5 .poz{position:absolute;top:0;left:50%;width:1000px;margin-left:-500px}
.subtype01 .section5.v2{position:relative;height:1342px;margin-top:212px}
.subtype01 .section5.v2 .bg{top:674px;height:668px}
.subtype01 .section5.v3{height:1256px;margin-top:88px}
.subtype01 .section5.v3 .bg{top:588px;height:668px}
.subtype01 .section5.v4{height:2033px;margin-top:94px}
.subtype01 .section5.v4 .bg{top:514px;height:326px}
.subtype01 .section5.v4 .bg.b2{top:1556px;height:477px}
.subtype01 .section6{position:relative;margin-top:39px}
.subtype01 .section6 .bg{position:relative;height:630px;background:#fbfbfb}
.subtype01 .section6 .bg span{position:absolute;top:0;left:50%;right:0;bottom:0;background:#fefefe}
.subtype01 .section6 .poz{position:absolute;top:0;left:50%;width:1000px;margin-left:-500px}
.subtype01 .section6.v2 .bg{background:#fbfbfb}
.subtype01 .section6.v2 .bg span{left:0;right:50%;background:#fefefe}
.subtype01 .section6.v3 .bg{height:710px;background:#f7f7f7}
.subtype01 .section6.v3 .bg span{left:50%;right:0;background:#fefefe}
.subtype02 .stx{margin-top:18px}
.subtype02 .section{position:relative;height:528px;margin-top:104px;background:url(../img/huromjuice_0401.jpg) no-repeat 50% 0}
.subtype02 .section .imglist{position:absolute;top:-60px;left:50%;width:1000px;margin-left:-500px}
.subtype02 .section li{float:left;width:310px;height:200px;margin-left:35px;padding-top:212px;background:#fff url(../img/huromjuice_0402.jpg) no-repeat}
.subtype02 .section li:first-child{margin-left:0}
.subtype02 .section .im2{background-position:-310px 0}
.subtype02 .section .im3{background-position:-620px 0}
.subtype02 .section strong{display:inline-block;margin-top:45px;border-bottom:1px solid #cecece;font-weight:lighter;font-size:24px;line-height:27px}
.subtype02 .section span{display:block;margin-top:21px;color:#707070;line-height:22px}
.subtype02 .section.v2{height:589px;margin-top:107px;background-image:url(../img/whyjuice_0802.jpg)}
.subtype02 .section.v2 .imglist{top:-61px}
.subtype02 .section.v2 li{width:320px;height:230px;margin-left:20px;padding-top:262px;background-image:url(../img/whyjuice_0801.jpg)}
.subtype02 .section.v2 li:first-child{margin-left:0}
.subtype02 .section.v2 li.im3 strong{margin-top:34px}
.subtype02 .section.v2 li.im3 span{margin-top:7px}
.subtype02 .section.v2 .im2{background-position:-320px 0}
.subtype02 .section.v2 .im3{background-position:-640px 0}
.subtype02 .section.v2 strong{margin-top:50px;border-bottom:0;line-height:30px}
.subtype02 .section.v3{height:920px;margin-top:154px;background:none}
.subtype02 .section.v3 .bg{height:797px;background:#f7f7f7}
.subtype02 .section.v3 .imglist{top:-90px}
.subtype02 .section.v3 li{height:220px;background-image:url(../img/technology_0301.jpg)}
.subtype02 .section.v3 .vod{position:absolute;top:380px;left:50%;width:1000px;margin-left:-500px}
.subtype02 .section.v4{height:412px;margin-top:43px;background:none}
.subtype02 .section.v4 .imglist{top:0}
.subtype02 .section.v4 li{background-image:url(../img/history_0902.jpg)}
.subtype02 .section.v4 strong{margin-top:32px;border-bottom:0;line-height:30px}
.feature{overflow:hidden;position:relative;height:880px;margin:39px 0 -12px}
.feature .left_bg{position:absolute;top:0;left:0;right:50%;bottom:0;background:#f7f7f7}
.feature .left_bg span,.feature .right_bg span{position:absolute;bottom:0;left:0;right:0;height:214px;background:url(../img/huromjuice_feature_bg.gif) repeat-x}
.feature .right_bg{position:absolute;top:0;left:50%;right:0;bottom:0;background:#acd771}
.feature .right_bg span{background-position:0 -214px}
.feature .tab{position:absolute;top:0;left:50%;bottom:0;width:76px;margin-left:-38px;background:url(../img/huromjuice_feature_tab.png) no-repeat}
.feature .tab li{position:absolute;left:0}
.feature .tab a{display:block;width:76px;height:76px;background:url(../img/huromjuice_feature_tab.png) no-repeat}
.feature .tab .tab1{top:231px}
.feature .tab .tab1 a{background-position:0 -231px}
.feature .tab .tab1.selected a{background-position:-78px -231px}
.feature .tab .tab2{top:347px}
.feature .tab .tab2 a{background-position:0 -347px}
.feature .tab .tab2.selected a{background-position:-78px -347px}
.feature .tab .tab3{top:463px}
.feature .tab .tab3 a{background-position:0 -463px}
.feature .tab .tab3.selected a{background-position:-78px -463px}
.feature .tab .tab4{top:579px}
.feature .tab .tab4 a{background-position:0 -579px}
.feature .tab .tab4.selected a{background-position:-78px -579px}
.feature .leftarea,.feature .rightarea{position:absolute;top:0;left:50%;width:460px;height:880px}
.feature .leftarea{margin-left:-500px}
.feature .rightarea{margin-left:40px}
.feature .img{position:relative;left:0}
.tab_product{margin-top:45px;background:#fbfbfb}
.tab_product .section{position:relative;width:1000px;margin:0 auto}
.tab_product .swap{overflow:hidden;position:relative;width:1000px;height:238px;padding:30px 0}
.tab_product .swap .sp{position:absolute;top:0;width:200px;height:298px}
.tab_product .swap .shadow_left{left:0;background-position:0 -111px}
.tab_product .swap .shadow_right{right:0;background-position:-202px -111px}
.tab_product .non_swap .shadow_left,.tab_product .non_swap .shadow_right,.tab_product .non_swap .bn_prev,.tab_product .non_swap .bn_next{display:none}
.tab_product .srs_lst{margin:0 auto}
.tab_product .srs_lst li{float:left}
.tab_product .srs_lst a{display:block;width:200px;height:238px;background:url(../img/tab_product.jpg) no-repeat}
.tab_product .srs_lst .hf{background-position:0 0}
.tab_product .srs_lst .hj{background-position:-200px 0}
.tab_product .srs_lst .hg{background-position:-400px 0}
.tab_product .srs_lst .hl{background-position:-600px 0}
.tab_product .srs_lst .hm{background-position:-800px 0}
.tab_product .srs_lst .he{background-position:-1000px 0}
.tab_product .srs_lst .hd{background-position:-1200px 0}
.tab_product .srs_lst .hk{background-position:0 -476px}
.tab_product .srs_lst .hv{background-position:-200px -476px}
.tab_product .srs_lst .hh{background-position:-400px -476px}
.tab_product .srs_lst .ho{background-position:-600px -476px}
.tab_product .srs_lst .hp{background-position:-800px -476px}
.tab_product .srs_lst .hr{background-position:-1000px -476px}
.tab_product .srs_lst .hy{background-position:-1200px -476px}
.tab_product .srs_lst .ge{background-position:0 -952px}
.tab_product .srs_lst .gf{background-position:-200px -952px}
.tab_product .srs_lst .gg{background-position:-400px -952px}
.tab_product .srs_lst .gh{background-position:-600px -952px}
.tab_product .srs_lst .selected .hf{background-position:0 -238px}
.tab_product .srs_lst .selected .hj{background-position:-200px -238px}
.tab_product .srs_lst .selected .hg{background-position:-400px -238px}
.tab_product .srs_lst .selected .hl{background-position:-600px -238px}
.tab_product .srs_lst .selected .hm{background-position:-800px -238px}
.tab_product .srs_lst .selected .he{background-position:-1000px -238px}
.tab_product .srs_lst .selected .hd{background-position:-1200px -238px}
.tab_product .srs_lst .selected .hk{background-position:0 -714px}
.tab_product .srs_lst .selected .hv{background-position:-200px -714px}
.tab_product .srs_lst .selected .hh{background-position:-400px -714px}
.tab_product .srs_lst .selected .ho{background-position:-600px -714px}
.tab_product .srs_lst .selected .hp{background-position:-800px -714px}
.tab_product .srs_lst .selected .hr{background-position:-1000px -714px}
.tab_product .srs_lst .selected .hy{background-position:-1200px -714px}
.tab_product .srs_lst .selected .ge{background-position:0 -1190px}
.tab_product .srs_lst .selected .gf{background-position:-200px -1190px}
.tab_product .srs_lst .selected .gg{background-position:-400px -1190px}
.tab_product .srs_lst .selected .gh{background-position:-600px -1190px}
.tab_product button{position:absolute;top:0;z-index:10;width:100px;height:298px}
.tab_product button .sp{position:absolute;top:50%;width:25px;height:46px;margin-top:-23px}
.tab_product .bn_prev{left:0}
.tab_product .bn_prev .sp{left:0;background-position:-165px -54px}
.tab_product .bn_next{right:0}
.tab_product .bn_next .sp{right:0;background-position:-192px -54px}
.tab_menu{border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6}
.tab_menu ul{overflow:hidden;width:1000px;margin:0 auto -1px}
.tab_menu li{float:left;width:200px}
.tab_menu li a{display:block;height:56px;font-size:17px;color:#707070;line-height:56px}
.tab_menu li.selected{border-bottom:2px solid #7dab3d}
.tab_menu li.selected a{color:#7dab3d}
.gate .tab_menu{border-top:0}
.prd_wrap{position:relative;width:498px;height:718px;padding-left:502px;margin:0 auto}
.prd_wrap .btn_bx{position:relative;padding-left:304px;margin-top:20px;padding-top:30px;border-top:1px solid #e6e6e6}
.prd_wrap .btn_bx .bn{position:absolute;top:35px;left:0;width:284px;height:76px;margin:0;border:0;background:#7dab3d;font-size:24px;color:#fff;text-align:center;line-height:76px}
.prd_wrap .btn_bx .bn:after{width:8px;height:15px;margin:-2px 0 2px 9px;background-position:-111px -81px;vertical-align:middle;content:''}
.prd_wrap .btn_bx .bn2{display:block;width:167px;height:34px;margin-top:5px;padding-left:24px;border:1px solid #999;font-size:13px;color:#333;line-height:34px;text-align:left}
.prd_wrap .btn_bx .bn2:after{width:4px;height:9px;margin:-1px 0 1px 5px;background-position:-121px -70px;vertical-align:middle;content:''}
.prd_wrap .btn_bx .bn2 .sp{width:17px;height:21px;margin:-1px 6px 1px 0;vertical-align:middle}
.prd_wrap .btn_bx .bn2 .ico_info{background-position:-141px -75px}
.prd_wrap .btn_bx .bn2 .ico_recipes{background-position:-121px -81px}
.prd_imgbx{position:absolute;top:0;left:0}
.prd_info{padding-top:165px;text-align:left}
.prd_info .prd_tt{font-size:50px;color:#000}
.prd_info .prd_tx{display:block;margin-top:13px;font-size:28px;font-weight:lighter;line-height:38px;color:#707070}
.prd_info .prd_tx2{margin-top:20px;font-size:20px;color:#707070;line-height:30px}
.info_award{margin-top:25px;padding-top:20px;border-top:1px solid #e6e6e6}
.lst_cont{position:relative}
.lst_cont a,.lst_cont iframe{display:block}
.lst_cont .btn{overflow:hidden;position:absolute;z-index:20;width:334px;height:581px;line-height:9999px;background:url(../img/1x1.png) repeat}
.lst_cont .btn_recipe{top:0;left:0}
.lst_cont .btn_recipe2{top:581px;right:0}
.lst_cont .btn_recipe3{top:1162px;left:50%;margin-left:-167px}
.lst_cont .img_reciped_down{margin-top:100px}
.lst_cont .btn_reciped_down{bottom:0;left:50%;width:108px;height:108px;margin-left:-54px}
.img_ldown{display:inline-block;position:relative;z-index:20;margin:55px 0 -55px}
.layer_movie{display:none;position:fixed;top:0;left:0;right:0;bottom:0;z-index:100}
.layer_movie .inner_movie{position:fixed;z-index:110;height:563px;width:1000px;top:50%;left:50%;margin:-282px 0 0 -500px }
.layer_movie .inner_movie iframe{width:100%;height:100%;border:0}
.layer_movie .btn_close{position:absolute;top:-90px;right:0}
.layer_movie .btn_close .sp{width:75px;height:74px;background-position:-270px 0}
.layer_movie .dimmed{display:block;height:100%;z-index:100;background:url(../img/bg_dimmed.png) repeat}
.bn{display:block;width:225px;height:48px;margin-top:24px;border:1px solid #888b90;font-size:16px;color:#333;line-height:48px;text-align:center}
.bn:after{display:inline-block;width:6px;height:10px;margin:-1px 0 1px 8px;background-position:-121px -70px;vertical-align:middle;content:''}
.ban_tt{display:block;padding-top:98px;font-size:60px;font-weight:lighter;color:#000;line-height:75px}
.ban_tt span{font-weight:400}
.ban_tx{margin-top:23px;font-size:20px;color:#707070;line-height:30px}
.swiper_area{overflow:hidden;margin:0 auto;position:relative;height:547px}
.swiper{overflow:hidden;position:relative}
.swiper li{float:left}
.swiper_nav{position:absolute;right:0;left:0;bottom:60px;font-size:0;text-align:center}
.swiper_nav .sp{width:15px;height:15px;margin-left:15px;background-position:-219px -90px}
.swiper_nav .sp:first-child{margin-left:0}
.swiper_nav .on{background-position:-245px -72px}
.bnb .bn{position:absolute;top:0;bottom:0;width:32px;height:100%;margin-top:0;border:0}
.bnb .bn:after{display:none}
.bnb .bn .sp{width:32px;height:60px}
.bnb .next .sp{background-position:-381px 0}
.bnb .prev .sp{background-position:-347px 0}
.banner{position:relative}
.banner:after{display:block;clear:both;content:''}
.banner li{height:547px}
.banner .inner{width:800px;margin:0 auto;padding:0 100px;text-align:left}
.banner .ban1{background:#e6ddd7 url(../img/gate_spot.jpg) no-repeat 50% 0}
.banner .ban2{background:#dee4ed url(../img/gate_spot2.jpg) no-repeat 50% 0}
.banner .bnb .prev{right:50%;margin-right:468px}
.banner .bnb .next{left:50%;margin-left:468px}
.gatetype{position:relative}
.gatetype.gray{background:#f7f7f7}
.gatetype.gray2{background:#fcfcfc}
.gatetype .inner{position:relative;width:1000px;margin:0 auto;padding:70px 0 70px 50px;text-align:left}
.gatetype .inner.gt{background:url(../img/gate_0101.jpg) no-repeat 100% 100%}
.gatetype .inner.gt2{background:url(../img/gate_0102.jpg) no-repeat 100% 100%}
.gatetype .inner.gt3{background:url(../img/gate_0103.jpg) no-repeat 100% 100%}
.gatetype .gtt{width:177px;border-top:2px solid #707070;border-bottom:2px solid #707070;font-size:18px;font-weight:400;color:#333;line-height:36px;text-align:center}
.gatetype .gtt .sp{height:16px;margin:-1px 12px 1px 0;vertical-align:middle}
.gatetype .gtt .num1{width:21px;background-position:-219px -54px}
.gatetype .gtt .num2{width:24px;background-position:-242px -54px}
.gatetype .gtt .num3{width:24px;background-position:-219px -72px}
.gatetype .gtx{display:block;position:relative;margin-top:16px;font-size:36px;font-weight:lighter;color:#333;line-height:50px;letter-spacing:-1px}
.gatetype .gtx2{margin-top:18px;font-size:20px;color:#707070}
.gatetype .bnb .bn{background:red}
.gatetype .bnb .prev{left:0}
.gatetype .bnb .next{right:0}
.gatetype .bnb .bn .sp{background:red}
.gatetype .bn{margin-top:28px}
.gatetype2{position:relative;background:#fcfcfc}
.gatetype2 .swiper_area{width:900px;height:422px;margin:0 auto;padding:0 50px}
.gatetype2 .bnb .bn{position:absolute;top:0;bottom:0;width:25px;height:100%;margin-top:0;border:}
.gatetype2 .bnb .bn .sp{width:25px;height:46px}
.gatetype2 .bnb .prev{left:0}
.gatetype2 .bnb .prev .sp{background-position:-165px -54px}
.gatetype2 .bnb .next{right:0}
.gatetype2 .bnb .next .sp{background-position:-192px -54px}
.gatetype2 .line{position:absolute;top:118px;right:0;left:0;height:5px;background:#f4f4f4}
.gate_lst{overflow:hidden;width:1000px;margin:0 auto;padding:50px 0}
.gate_lst:after{display:block;clear:both;content:''}
.gate_lst li{float:left;width:332px;height:400px;margin-left:2px}
.gate_lst li:first-child{margin-left:0}
.gate_lst li a{display:block;height:345px;padding:55px 28px 0}
.gate_lst .gltt{display:block;font-size:32px;font-weight:lighter;color:#333;line-height:42px}
.gate_lst .gltx{margin-top:13px;padding-top:16px;border-top:1px solid #c1c1c1;font-size:17px;color:#707070;line-height:25px}
.gate_lst .gl{background:#fff url(../img/gate_0201.jpg) no-repeat 0 100%}
.gate_lst .gl2{background:#fff url(../img/gate_0202.jpg) no-repeat 0 100%}
.gate_lst .gl3{background:#fff url(../img/gate_0203.jpg) no-repeat 0 100%}
.pro_story{margin:0 auto}
.txt_lt{font-weight:lighter}
.stit{padding-top:95px;font-size:46px;color:#000}
.stxt{padding-top:22px;font-size:17px;color:#707070}
.store_info{width:1000px;padding:50px 0 105px;margin:0 auto}
.store_info li{overflow:hidden;margin-top:50px}
.store_info li:first-child{margin-top:0}
.store_info li strong{font-size:20px;font-weight:bold;line-height:1}
.store_info li .thum{float:left;width:415px;margin-right:30px}
.store_info li .con{overflow:hidden;text-align:left}
.store_info li .con dl{margin-top:13px;border:1px solid #5b5b5b;border-width:1px 0}
.store_info li .con dt,.store_info li .con dd{padding:16px 0;border-top:1px solid #e6e6e6}
.store_info li .con dt{float:left;clear:both;width:100px;color:#333}
.store_info li .con dd{overflow:hidden;color:#707070}
.store_info li .con dd a{border-bottom:1px solid #c0c0c0}
.stbx.v2{background:#f7f7f7}
.store .tab_menu li{width:250px}
.ptt{margin-bottom:42px;padding-top:89px;font-size:46px;color:#000;line-height:66px}
.ptt2{margin-bottom:42px;padding-top:50px;font-size:36px;color:#000;line-height:66px}
.ptx{margin-top:-42px;padding-top:22px;font-size:20px;color:#707070;line-height:30px;letter-spacing:-1px}
.ptx2{display:block;margin:22px 0 -22px;font-size:20px;color:#333;line-height:30px}
.t_block{position:relative}
.t_block .al,.t_block .ar{position:absolute;top:0}
.t_block .al{right:50%;left:0;padding-right:35px;text-align:right;background:#fcfcfc}
.t_block .ar{right:0;left:50%;padding-left:35px;text-align:left}
.t_block.v2 .al{background:#fff}
.t_block.v2 .ar{background:#fcfcfc}
.prd_detail{position:relative}
.prd_detail .prd_tt{font-size:36px;color:#333;line-height:46px}
.prd_detail .prd_tx{margin-top:38px;font-size:20px;color:#707070;line-height:30px}
.prd_detail2{position:relative;height:214px;padding:130px 180px 0 0;text-align:left}
.prd_detail2 .prd_tt{font-size:28px;color:#333}
.prd_detail2 .prd_tx{margin-top:14px;font-size:20px;color:#707070;line-height:30px}
.prd_detail2 .prd_im{position:absolute;top:60px}
.prd_detail2.pos1{text-align:right}
.prd_detail2.pos1 .prd_im{right:0}
.prd_detail2.pos2{margin-left:370px;padding:130px 0 0 180px}
.prd_detail2.pos2 .prd_im{left:0}
.prd_detail2.pos3{height:336px;padding:324px 0 0 180px}
.prd_detail2.pos3 .prd_im{top:270px;left:0}
.sg_info .sg_tt{margin-top:11px;font-size:20px;color:#707070}
.sg_info .sg_tx{margin-top:14px;font-size:15px;color:#000;line-height:23px;letter-spacing:-1px}
.sg_info2:after{display:block;clear:both;content:''}
.sg_info2 li{float:left;position:relative;width:250px}
.sg_info2 .info_tx{margin-top:14px;font-size:15px;color:#707070;line-height:23px}
.sg_info2 .info_tx strong{font-weight:400}
.prd_table{width:100%;border-top:1px solid #5b5b5b;border-bottom:1px solid #5b5b5b}
.prd_table th,.prd_table td{height:49px;font-weight:lighter;text-align:left;font-size:15px;color:#707070;border-top:1px solid #e6e6e6}
.prd_table tr:first-child th,.prd_table tr:first-child td{border-top:0}
.prd_table th{color:#333}
.prd_table colgroup.pc_view{display:table-column-group}
.tbtx{padding:18px 0;font-size:15px;color:#707070;text-align:left}
.prdnone{padding:100px 0}
.prdnone .ptt{margin:-92px 0 89px;padding-top:0}
.prd_nonebx{width:1000px;margin:0 auto}
.vod_wrap iframe{border:0}
.prdtype .ptt{margin-bottom:0}
.prdtype1{position:relative;width:582px;height:392px;margin:0 auto;padding:180px 418px 0 0;text-align:left}
.prdtype1 .ptx{margin-top:42px}
.prdtype1 .img_wrap{position:absolute;top:0;right:0}
.prdtype2{background:#f7f7f7}
.prdtype2 .img_wrap{padding:36px 0 50px}
.prdtype2.v2 .img_wrap{padding-bottom:0}
.prdtype2.v2 .ptx{margin-top:20px}
.prdtype3 .dw{width:109px;height:109px;margin-bottom:100px;background-position:0 -411px;line-height:999px}
.prdtype3 .ptx{margin-bottom:44px}
.prdtype3 .t_block{height:500px}
.prdtype3 .t_block .al,.prdtype3 .t_block .ar{height:500px}
.prdtype3 .t_block .ar img,.prdtype3 .t_block.v2 .al img{vertical-align:middle}
.prdtype3 .t_block .ar:after,.prdtype3 .t_block.v2 .al:after{display:inline-block;height:100%;vertical-align:middle;content:''}
.prdtype3 .prd_detail{margin-top:132px}
.prdtype3 .vod_wrap{margin-top:90px}
.prdtype3 .al .img_nm{margin:90px -35px 0 0}
.prdtype3 .ar .img_nm{margin:90px 0 0 -35px}
.prdtype3.v2 .t_block,.prdtype3.v2 .t_block .al,.prdtype3.v2 .t_block .ar,.prdtype3.v3 .t_block,.prdtype3.v3 .t_block .al, .prdtype3.v3 .t_block .ar{height:450px}
.prdtype3.v2 .t_block .al,.prdtype3.v2 .t_block.v2 .ar{background:#f7f7f7}
.prdtype3.v2 .t_block.v2 .al{background:#fff}
.prdtype3.v3 .prd_detail{margin-top:68px}
.prdtype3.v3 .prd_detail .prd_tx{margin-top:18px}
.prdtype3.v3 .ge_img{display:inline-block;margin-top:30px;vertical-align:top}
.prdtype3.v3 .ge_img:after{display:block;clear:both;content:''}
.prdtype3.v3 .ge_img li{float:left;margin-left:46px}
.prdtype3.v3 .ge_img li:first-child{margin-left:0}
.prdtype3.v3 .vod_wrap{margin-top:75px}
.prdtype3.v3 .im{margin-top:40px}
.prdtype4{padding-bottom:42px}
.prdtype4 .t_block{height:657px;margin-top:20px;padding:52px 0 41px}
.prdtype4 .t_block .al,.prdtype4 .t_block .ar{top:52px;height:657px}
.prdtype4 .im{margin-top:-52px}
.prdtype4 .prd_detail{margin-top:116px}
.prdtype4 .al{background:#fcfcfc}
.prdtype4 .ar{background:#f7f7f7}
.prdtype4.v2 .t_block{height:480px;padding:0}
.prdtype4.v2 .al,.prdtype4.v2 .ar{top:0;height:480px;background:#fcfcfc}
.prdtype4.v4{padding:52px 0 91px}
.hp01 .prdtype4{padding-bottom:92px}
.prdtype5{position:relative}
.prdtype5 .section{position:relative;width:1000px;margin:0 auto}
.prdtype5 .bg_g{position:absolute;top:344px;right:0;left:0;bottom:auto;height:344px;background:#f7f7f7}
.prdtype5 .line1,.prdtype5 .line2,.prdtype5 .line3{position:absolute;width:1920px;height:1px;background:#d2d2d2}
.prdtype5 .line1{top:170px;left:50%;margin-left:-1576px}
.prdtype5 .line2{top:512px;right:50%;margin-right:-1934px}
.prdtype5 .line3{top:1052px;right:50%;margin-right:-1570px}
.prdtype5 .p_img01,.prdtype5 .p_img02{position:absolute;z-index:1}
.prdtype5 .p_img01{top:125px;left:0}
.prdtype5 .p_img02{bottom:43px;right:0}
.prdtype5.v2 .section{padding-bottom:276px}
.prdtype5.v2 .line3{display:none}
.prdtype5.v3 .section{position:static;width:auto;padding-bottom:80px;background:#f7f7f7}
.prdtype5.v3 .bg_g{display:none}
.prdtype5.v3 .line1,.prdtype5.v3 .line2,.prdtype5.v3 .line3,.prdtype5.v3 .line4{display:none}
.prdtype5.v3 .p_img01{position:static}
.prdtype5.v3 .img_wrap{position:relative;margin-top:43px}
.prdtype5.v3 .prd_detail2{width:920px;height:auto;margin:-100px auto 0;padding:180px 0 0 0}
.prdtype5.v3 .prd_detail2 .prd_im{top:0}
.prdtype5.v3 .prd_detail2 .prd_im .inner{display:inline-block;width:130px;height:130px;background:#f7f7f7}
.prdtype5.v3 .prd_detail2 .prd_tt{border-bottom:1px solid #d2d2d2}
.prdtype5.v3 .pos1,.prdtype5.v3 .pos3{text-align:right}
.prdtype5.v3 .pos2,.prdtype5.v3 .pos4{text-align:left}
.prdtype5.v3 .pos1 .prd_im,.prdtype5.v3 .pos3 .prd_im{right:0}
.prdtype5.v3 .pos1 .prd_im .inner{background:none}
.prdtype5.v3 .pos2 .prd_im,.prdtype5.v3 .pos4 .prd_im{left:0}
.prdtype6{position:relative;background:#f7f7f7;margin-bottom:108px;padding-bottom:165px}
.prdtype6 .img_wrap{position:absolute;right:0;left:0;bottom:-108px}
.prdtype6 .sg_lst{position:absolute;right:0;left:0;bottom:-236px;width:1000px;margin:0 auto}
.prdtype6 .sg_lst:after{display:block;clear:both;content:''}
.prdtype6 .sg_lst li{float:left;width:33.3%}
.prdtype6 .sg_lst li:last-child{width:33.4%}
.prdtype6.v2{margin-bottom:236px}
.prdtype7 .img_wrap{margin-top:40px;padding:76px 0 79px;background:#f9f9f9}
.prdtype7 .img_wrap img{margin:0 auto}
.prdtype7 .vod_wrap{margin-top:40px;padding:73px 0 91px;background:#f7f7f7}
.prdtype8 .img_wrap{width:1000px;margin:40px auto 109px}
.prdtype8 .img_wrap img{margin:0 auto}
.prdtype8.v2{background:#fcfcfc}
.prdtype9{padding-bottom:92px;background:#f7f7f7}
.prdtype9 .pk_lst{position:relative;width:1000px;margin:0 auto}
.prdtype9 .pk_lst:before{position:absolute;bottom:0;right:0;left:0;height:1px;background:#f7f7f7;content:''}
.prdtype9 .pk_lst:after{display:block;clear:both;content:''}
.prdtype9 .pk_lst li{float:left;width:200px;margin-top:28px;text-align:center;border-bottom:1px solid #d2d2d2;font-size:15px;color:#333}
.prdtype9 .pk_tx{padding-bottom:20px}
.prdtype10{position:relative;width:1000px;margin:0 auto;padding:142px 0 88px}
.prdtype10 .img_wrap{position:absolute;top:0;left:0}
.prdtype10 .prd_detail{margin-left:540px;text-align:left}
.prdtype10 .sg_info2{margin-top:102px}
.prdtype11{position:relative;width:500px;margin:0 auto;padding:45px 0 60px 500px}
.prdtype11 .al{position:absolute;top:45px;left:0;bottom:60px;width:500px}
.prdtype11 .al img{vertical-align:middle}
.prdtype11 .al:after{display:inline-block;height:100%;vertical-align:middle;content:''}
.prdtype12{position:relative;width:465px;height:605px;margin:0 auto;padding:95px 0 0 535px;text-align:left}
.prdtype12 .img_wrap{position:absolute;top:0;left:0}
.prdtype12 .im{display:inline-block;margin-top:25px}
.prdtype12 .sg_info2{margin-top:24px}
.prdtype12 .sg_info2 li{width:184px;text-align:center}
.prdtype12 .sg_info2 .im{margin-top:0}
.prdtype14{padding-bottom:60px}
.prdtype14.v2{background:#fcfcfc}
.service .cs,.pr .frame,.brand_story .frame{overflow:hidden;width:1000px;margin:0 auto}
.service .cs_step{background:url(../img/cs_step.png) no-repeat 50% 0}
.service .cs_ask{background:url(../img/cs_ask.gif) repeat-x}
.pr .spot,.brand_story .spot{height:200px;background:url(../img/pr_spot.jpg) no-repeat 50% 0}
.pop{position:absolute;z-index:99;background:#fff}
.pop .pop_wrap{padding:10px}
.pop .bnaera{overflow:hidden;margin-top:10px}
.pop .lfarea{float:left}
.pop .rtarea{float:right}
.pop .inp_check{overflow:hidden;padding-top:10px}
.pop .inp_check input{float:left;width:13px;height:13px;margin-top:1px}
.pop .inp_check label{float:left;margin-left:4px;font-size:13px;color:#707070;cursor:pointer}
.pop .pop_close{width:111px;height:34px;background-position:-111px -411px}
.adr_tab{overflow:hidden;width:1000px;margin:80px auto 0}
.adr_tab li{float:left;width:20%;border-top:1px solid #e6e6e6}
.adr_tab li a{display:block;margin-left:-1px;padding:20px 0 18px;border:1px solid #e6e6e6;border-top:0;font-size:15px;color:#707070}
.adr_tab li:first-child a{margin-left:0}
.adr_tab .selected a{margin-top:-1px;padding-top:19px;border-top:2px solid #7dab3d;border-bottom:1px solid #fff;color:#7dab3d}
.adr_cntbx{display:none;width:1000px;margin:63px auto 104px;text-align:left}
.adr_cntbx .adr_tit{margin-top:45px;font-size:20px;font-weight:600;color:#333;line-height:30px}
.adr_cntbx .adr_tit .sp{width:26px;height:36px;margin:-2px 6px 2px 0;vertical-align:middle}
.adr_cntbx .adr_tit .ico_a{background-position:-111px -447px}
.adr_cntbx .adr_tit .ico_b{background-position:-139px -447px}
.adr_cntbx .adr_tit .ico_c{background-position:-167px -447px}
.adr_cntbx .adr_tit .ico_d{background-position:-195px -447px}
.adr_cntbx .adr_tit .ico_e{background-position:-223px -447px}
.adr_cntbx .btn_wrap{margin-top:40px;text-align:right}
.adr_cntbx .btn_wrap .btn_more{display:inline-block;width:177px;height:50px;background:#77a835;font-size:14px;color:#fff;line-height:50px;text-align:center}
.adr_cntbx .btn_wrap .btn_more .sp{width:5px;height:10px;margin-left:2px;background-position:-111px -98px}
.adr_infobx{overflow:hidden;margin-top:12px;border:1px solid #5b5b5b;border-width:1px 0}
.adr_info{margin-top:-1px}
.adr_info dt,.adr_info dd{padding:16px 0 14px;border-top:1px solid #e6e6e6;font-size:15px;line-height:19px}
.adr_info dt{float:left;width:100px;color:#333}
.adr_info dd{overflow:hidden;padding-right:10px;color:#707070;letter-spacing:-1px;word-break:break-word}
.adr_infolst2 li{position:relative;margin-top:50px;padding-left:445px}
.adr_infolst2 .img_wrap{position:absolute;top:0;left:0}
.adr_infolst2 .adr_tit{margin-top:0;padding-top:45px}